__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
.env.*

data/raw/*
!data/raw/.gitkeep
!data/raw/phishtank/
!data/raw/phishtank/.gitkeep
!data/raw/openphish/
!data/raw/openphish/.gitkeep
!data/raw/mendeley_phishing_url/
!data/raw/mendeley_phishing_url/.gitkeep
!data/raw/mendeley_legitphish/
!data/raw/mendeley_legitphish/.gitkeep
!data/raw/tranco/
!data/raw/tranco/.gitkeep

data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep

notebooks/.ipynb_checkpoints/
